@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Color Theme Swatches in Hex */
.Copy-of-Copy-of-Coral-Teal-Gray-1-hex { color: #FF4858; }
.Copy-of-Copy-of-Coral-Teal-Gray-2-hex { color: #1B7F79; }
.Copy-of-Copy-of-Coral-Teal-Gray-3-hex { color: #00CCC0; }
.Copy-of-Copy-of-Coral-Teal-Gray-4-hex { color: #72F2EB; }
.Copy-of-Copy-of-Coral-Teal-Gray-5-hex { color: #747F7F; }

/* Color Theme Swatches in RGBA */
.Copy-of-Copy-of-Coral-Teal-Gray-1-rgba { color: rgba(255, 72, 87, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-2-rgba { color: rgba(26, 126, 121, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-3-rgba { color: rgba(0, 204, 191, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-4-rgba { color: rgba(114, 242, 235, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-5-rgba { color: rgba(116, 126, 126, 1); }


:root{
    --drkbckgrnd:#2d5215;
    --text:#373b3b;
    --backgrnd: #72F2EB;
    --button: #FF4858;
    --txtbtn: white;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
    bottom: 2em;
}

.header{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(134,131,131,1) 75%, rgba(249,244,244,1) 100%);    
    margin-bottom: 2.5%;
}

.foto{
    opacity: .8;
    max-width: 100%;
    z-index: -1;
}

.comments{
    width: 99%;
    position: absolute;
    top: 1%;
    text-align: right;
    margin-right: 1%;
    z-index: 2;
}

.item{
    display: inline;
}

.info{
    font-size: 1rem;
    padding: .5%;
    color: var(--drkbckgrnd);
    background-color: var(--txtbtn);
    font-weight: bold;
}

.item a:hover{
    transition: 1000ms;
    color: var(--txtbtn);
    background-color: var(--drkbckgrnd);
    text-decoration: none;
}

body > div.comments > div:nth-child(1) > a{
    margin-right: 1%;
}

.title{
    position: absolute;
    top: 1.5em;
    width: 100%;
}

#title{
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: .25em .25em .25em rgb(24, 22, 22), 0 0 1em rgb(20, 20, 23), 0 0 0.5em rgb(19, 19, 22);
}

.main{
    margin: 0 auto;
    max-width: 75%;
}

.text{
    color: var(--text);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5%;
}

.carousel{
    box-shadow: 5px 5px 14px 6px rgba(26, 126, 121, 0.85);
    margin-bottom: 10%;
}

h5{
    font-size: 2vw;
}

.pair{
    text-shadow: .25em .25em .25em rgb(24, 22, 22), 0 0 1em rgb(20, 20, 23), 0 0 0.5em rgb(19, 19, 22);
}

.recommends{
    background: var(--backgrnd);
    background: repeating-radial-gradient(circle farthest-side at center center, #1B7F79 0%, #FF4858 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
    color: var(--drkbckgrnd);
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}

.flex-container {
    max-width: 90%;
    margin: auto;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .to-do{
    position: relative;
    width: 25em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
}

.to-do a{
    font-size: 1.25rem;
    color: var(--drkbckgrnd);
    font-weight: bold;
    z-index: 2;
  }

  .to-do a:hover{
    text-decoration: none;
    color: #1B7F79;
  }

.to-do::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 5em;
    background: linear-gradient(#00CCC0, #FF4858, #72F2EB);
    animation: animate 5s linear infinite;
    border-radius: 1em;
}

.to-do::after{
    content: '';
    position: absolute;
    inset: .2em;
    background: white;
    border-radius: 1em;
}

@keyframes animate{
    0%
{
    transform: rotate(0deg);
}
100%
{
    transform: rotate(360deg);
}
}

  @media (min-width: 1500px){

    .recommends{
        margin-bottom: 5%;
    }

    .flex-container{
        max-width: 80%;
        margin: auto;
    }
}

  @media (min-width: 1200px){

    .to-do{
        width: 30em;
        height: 5em;
    }
}
    

@media (max-width: 830px) {
    .title{
        top: 2em;
    }

    .comments{
        top: .5%;
    }

    .recommends{
        margin-bottom: 10%;
    }

    .to-do{
        width: 18em;
        height: 4em;
        padding: 0;
    }

  }

  @media (max-width: 670px) {

    .info{
        font-size: 2vw;
    }

    .comments{
        top: -.5%;
    }

    .title{
        top: 2em;
    }

    #pair{
        text-shadow: 2px 2px 2px rgb(24, 22, 22), 0 0 1em rgb(20, 20, 23), 0 0 0.2em rgb(19, 19, 22);
    }
    
    #pair2{
        text-shadow: 2px 2px 2px rgb(24, 22, 22), 0 0 1em rgb(20, 20, 23), 0 0 0.2em rgb(19, 19, 22);
    }

    .recommends{
        font-size: 1rem;
        margin-bottom: 10%;
    }

    .to-do{
        padding: 0;
        height: 3em;
    }
    
  }
  
  @media (max-width: 376px) {

    .info{
        font-size: 2vw;
    }

    .comments{
        top: -1%;
    }

    .title{
        top: 2em;
    }

    .recommends{
        font-size: .75rem;
        margin-bottom: 10%;
    }

    .to-do{
        width: 14em;
        height: 2em;
        padding: 0;
    }

    .to-do a{
        font-size: 1rem;
    }

  }

  @media (max-width: 320px) {

    .info{
        font-size: 2vw;
    }

    .comments{
        top: -1.75%;
    }

    .title{
        top: 1.75em;
    }

    .recommends{
        font-size: .75rem;
        margin-bottom: 10%;
    }

    .to-do{
        width: 14em;
        height: 2em;
        padding: 0;
    }

    .to-do a{
        font-size: 1rem;
    }

  }