@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body{
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    background: rgb(7,106,223);
    background: radial-gradient(circle, rgba(7,106,223,1) 0%, rgba(148,187,233,1) 81%, rgba(7,195,223,1) 99%);    min-height: 100vh;
}

.header{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 10%;
}

.foto{
    position: relative;
    grid-row: 1/2;
    grid-column: 1/5;
    opacity: .5;
    max-width: 100%;
    z-index: -5;
}

img{
    max-width: 90%;
    height: auto;
}

.container{
    margin: auto;
    max-width: 80%;
    border-radius: 1vw;
    background-color: bisque;
}

#comments div:nth-child(even){
    background-color: rgba(255, 255, 255, .6);
}

.when{
    font-size: 1vw;
    padding: 1%;
}

.who{
    font-size: 3vw;
    padding: 1%;
}

.what{
    font-size: 2vw;
    padding: 1%;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, .25);
}