@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Color Theme Swatches in Hex */
.Copy-of-Copy-of-Coral-Teal-Gray-1-hex { color: #FF4858; }
.Copy-of-Copy-of-Coral-Teal-Gray-2-hex { color: #1B7F79; }
.Copy-of-Copy-of-Coral-Teal-Gray-3-hex { color: #00CCC0; }
.Copy-of-Copy-of-Coral-Teal-Gray-4-hex { color: #72F2EB; }
.Copy-of-Copy-of-Coral-Teal-Gray-5-hex { color: #747F7F; }

/* Color Theme Swatches in RGBA */
.Copy-of-Copy-of-Coral-Teal-Gray-1-rgba { color: rgba(255, 72, 87, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-2-rgba { color: rgba(26, 126, 121, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-3-rgba { color: rgba(0, 204, 191, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-4-rgba { color: rgba(114, 242, 235, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-5-rgba { color: rgba(116, 126, 126, 1); }


:root{
    --drkbckgrnd:#2d5215;
    --text:#373b3b;
    --backgrnd: #72F2EB;
    --button: #FF4858;
    --txtbtn: white;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
    bottom: 2em;
}

.header{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(134,131,131,1) 75%, rgba(249,244,244,1) 100%);    
    margin-bottom: 2.5%;
}

.foto{
    opacity: .8;
    max-width: 100%;
    z-index: -1;
}

.comments{
    width: 99%;
    position: absolute;
    top: 1%;
    text-align: right;
    margin-right: 1%;
    z-index: 2;
}

.item{
    display: inline;
}

.info{
    font-size: 1rem;
    padding: .5%;
    color: var(--drkbckgrnd);
    background-color: var(--txtbtn);
    font-weight: bold;
}

.item a:hover{
    transition: 1000ms;
    color: var(--txtbtn);
    background-color: var(--drkbckgrnd);
    text-decoration: none;
}

body > div.comments > div:nth-child(1) > a{
    margin-right: 1%;
}

.title{
    position: absolute;
    top: 1.5em;
    width: 100%;
}

#title{
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: .25em .25em .25em rgb(24, 22, 22), 0 0 1em rgb(20, 20, 23), 0 0 0.5em rgb(19, 19, 22);
}

.main{
    margin: 0 auto;
    max-width: 75%;
}

.text{
    color: var(--text);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5%;
}

.recommends{
    background: var(--backgrnd);
    background: repeating-radial-gradient(circle farthest-side at center center, #1B7F79 0%, #FF4858 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
    color: var(--drkbckgrnd);
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}